html {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    padding: 15px;
    background-color: #f2f3f5;
}

.layui-form {
    width: 500px;
}

.layui-form-item {
    margin-left: 40px;
    font-size: 12px;
}

